/*body section*/


body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
  }
  
  a {
    color: #149ddd;
  }
  
  a:hover {
    color: #37b3ed;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

  #hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.jpg") top center;
    background-size: cover;
  }
  
  /*header section*/

  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
  }
  
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
  }
  
  #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  
  #header .profile h1 a, #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #header .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
  }
  
  #main {
    margin-left: 300px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
    #main {
      margin-left: 0;
    }
  }
  /*Opening Background of City section*/

  #hero {
    width: 100%;
    height: 100vh;
    background: url("../images/Main\ city\ img.jpeg") top center;
    background-size: cover;
  }
  
  #hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: rgb(166, 197, 185);
  }

  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

    /*Skills section*/

    section {
        padding: 60px 0;
        overflow: hidden;
      }
      
      .section-bg {
        background: #ffffff;
      }
      
      .section-title {
        padding-bottom: 30px;
      }
      
      .section-title h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #06311c;
      }
      
      .section-title h2::after {
        content: '';
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: #09963f;
        bottom: 0;
        left: 0;
      }
      
      .section-title p {
        margin-bottom: 0;
      }
    
    /*About Me section*/


      .about .content h3 {
        font-weight: 700;
        font-size: 26px;
        color: #0d502b;
      }
      
      .about .content ul {
        list-style: none;
        padding: 0;
      }
      
      .about .content ul li {
        padding-bottom: 10px;
      }
      
      .about .content ul i {
        font-size: 20px;
        padding-right: 2px;
        color: #278a4d;
      }
      
      .about .content p:last-child {
        margin-bottom: 0;
      }
      

    /*Projects section*/


      .projects .icon-box {
        margin-bottom: 20px;
      }
      
      .projects .icon {
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        background: #149ddd;
        border-radius: 50%;
        transition: 0.5s;
        border: 1px solid #149ddd;
      }
      
      .projects .icon i {
        color: #fff;
        font-size: 24px;
      }
      
      .projects .icon-box:hover .icon {
        background: #fff;
      }
      
      .projects .icon-box:hover .icon i {
        color: #149ddd;
      }
      
      .projects .title {
        margin-left: 80px;
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
      }
      
      .projects .title a {
        color: #343a40;
      }
      
      .projects .title a:hover {
        color: #149ddd;
      }
      
      .projects .description {
        margin-left: 80px;
        line-height: 24px;
        font-size: 14px;
      }
      